/**
 * User: ksipe
 * New Date: 1/27/11 9:34 AM
 */


email {
    host = 'localhost'
    port = 25
    uid = ''
    pw = ''
    from = 'odp-support@acme.com'

    enabled = false
}

log4j {

    // stdout
    appender.stdout = "org.apache.log4j.ConsoleAppender"
    appender."stdout.layout" = "org.apache.log4j.PatternLayout"
    appender."stdout.layout.ConversionPattern" = "%-4r [%t] %-5p %c %x - %m%n"
    //    appender."stdout.layout.ConversionPattern"="%d{ABSOLUTE} %-5p [%c{1}] %m%n"

    // logfile
    appender.logfile = "org.apache.log4j.DailyRollingFileAppender"
    appender."logfile.File" = '/odp/logs/odp.log'
    appender."logfile.layout" = "org.apache.log4j.PatternLayout"
    appender."logfile.layout.ConversionPattern" = "%-4r [%t] %-5p %c %x - %m%n"

    rootLogger = "info,stdout"
    logger.com.acme.odp = "info, logfile"
}

// setup for each env... controlled by the running script by passing the sys prop env
// -Denv=dev will set environments to dev... dev will add to and override default values
environments {
    // local development (developers machine)
    dev {

        email {

            host = 'smtp.gmail.com'
            port = 587
            uid = 'kensipe'
            pw = '*****'

            to = [
                    'kensipe@gmail.com'
            ]
        }

        log4j {
            appender."logfile.File" = '/Users/ksipe/projects/acme/odp/logs/odp.log'
        }
    }

    // dev / test going to ODP_dev
    test {
        // test is the default configuration
        email {
            uid = ''
            pw = ''
            to = ['kensipe@gmail.com',
                   'ken.sipe@gradleware.com']
        }

        log4j {
            appender."logfile.File" = '/odp/logs/odp-test.log'
        }

    }

    // prod = ODP (database is defaulted by the user login)
    prod {
        email {
            uid = ''
            pw = ''

            enabled = true
        }
    }
}